//Variables for colors

$primary-color: rgb(24, 172, 180);
$highlight-color: rgb(243, 15, 205);
$text-color: #333;
$bg-color: #f0f0f0;
$heading-font: 'Fredericka the Great', cursive;
$body-font: Arial, sans-serif;
$box-bg: rgba(224, 224, 224, 0.5);

//Global styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
    padding: 1rem;
}

//Typography

h1, h2 {
    font-family: $heading-font;
    text-align: center; 
    font-weight: normal;
} 

h1{
    margin: 2rem 0 1rem;
    font-size: 4rem;
    color: $primary-color;
    text-shadow:
        2px 2px 0 red,
        4px 4px 0 $highlight-color,
        6px 6px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1rem;
    color: $highlight-color;
    margin-bottom: 1rem;
}

//Navigation

#navbar {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
        background-color: $box-bg;
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 2rem;
    }
      
    a {
        font-family: $heading-font;
        text-decoration: none;
        color: $primary-color;
        
        &:hover {
            color: $highlight-color;
        }
    }
}


//Search Section
#search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}        

#search-form {
    display: flex;
    gap: 0.5rem;

    input[type="search"] {
        padding: 0.5rem;
        font-size: 1rem;    
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
    }

    input[placeholder="Find your GIF"] {
        text-align: center;   
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    
        &:hover {
          background-color: $highlight-color;
        }
    }
}